doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Create Student 
    body 
        h1 Create Student 
        if errors 
            div
                ul  
                    each err in errors 
                        li=err.msg
        form(action='/student/create', method='post', enctype='multipart/form-data')
            div 
                label(for='name') Name 
                input(name='name' id='name')
                if errors       
                    each err in errors 
                        if err.path=='name'
                            span.error=err.msg
            div 
                label(for='age') Age 
                input(name='age' id='age' type='number')
                if errors       
                    each err in errors 
                        if err.path=='age'
                            span.error=err.msg
            div 
                label(for='email') email 
                input(name='email', id='email', type='email')
                if errors       
                    each err in errors 
                        if err.path=='email'
                            span.error=err.msg
            div 
                label(for='bio') Bio 
                input(name='bio' id='bio')
                if errors       
                    each err in errors 
                        if err.path=='bio'
                            span.error=err.msg
            div 
                label(for='photo') Photo 
                input(name='photo' id='photo' type='file')
                if errors       
                    each err in errors 
                        if err.path=='photo'
                            span.error=err.msg
            div 
                input(type='submit' value='Create')