doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Update Student 
    body 
        h1 Update Student 
        if errors 
            div
                ul  
                    each err in errors 
                        li=err.msg
        form(action=`/student/update/${student._id}`, method='post', enctype='multipart/form-data')
            input(type="hidden", name="id", value=student._id)
            div 
                label(for='name') Name 
                input(name='name', id='name' ,value=student.name)
                if errors       
                    each err in errors 
                        if err.path=='name'
                            span.error=err.msg
            div 
                label(for='age') Age 
                input(name='age' id='age' type='number' value=student.age)
                if errors       
                    each err in errors 
                        if err.path=='age'
                            span.error=err.msg
            div 
                label(for='email') email 
                input(name='email', id='email', type='email' value=student.email)
                if errors       
                    each err in errors 
                        if err.path=='email'
                            span.error=err.msg
            div 
                label(for='bio') Bio 
                input(name='bio' id='bio' value=student.bio)
                if errors       
                    each err in errors 
                        if err.path=='bio'
                            span.error=err.msg
            div 
                label(for='photo') Photo 
                input(name='photo' id='photo' type='file')
                if errors       
                    each err in errors 
                        if err.path=='photo'
                            span.error=err.msg
            if student.photoUrl!=null && student.photoUrl.length > 0
                div 
                    img(src=`/images/${student.photoUrl}`, style='width:400px;height:auto;')
            div 
                label(for='photo') Photo 
                input(name='photo' id='photo' type='file')
                if errors 
                    each err in errors 
                        if err.path=='photo'
                        span.err=err.msg
            div 
                input(type='submit' value='Update')